.header {
    background-color: rgb(112, 189, 110);
    height: 60px;
}
.item {
    position:relative;
    top:12px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    display: inline;
}
.myanchor {
    margin-left: 5px;
}
.btnSearch {
    
}
#search {
    height: 25px;
    padding-left: 15px;
    border-radius: 13px;
}
.video {
    text-align: center;
    margin-top: 30px;
}