ul{list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
-webkit-animation: colorchange 45s infinite; 
animation: colorchange 45s infinite;
height: 48px;
}
@-webkit-keyframes colorchange {
0%  {background: #FF0000;}    
20%  {background: #FF8C00;}
30%  {background: #FFD700;}
40%  {background: #7CFC00;}
50%  {background: #008000;}
60%  {background: #00BFFF;}
70%  {background: #0000CD;}
80%  {background: #FF1493;}
90%  {background: #9400D3;}
100% {background: #78281F;}
}


@keyframes colorchange {
0%  {background: #FF0000;}    
20%  {background: #FF8C00;}
30%  {background: #FFD700;}
40%  {background: #7CFC00;}
50%  {background: #008000;}
60%  {background: #00BFFF;}
70%  {background: #0000CD;}
80%  {background: #FF1493;}
90%  {background: #9400D3;}
100% {background: #78281F;}
}
li {
float: left;
}

li a,
.dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
background-color: gray;


}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
display: block;

}
li a.active {
background-color: #4CAF50;
color: white;
}