.Studentmagement tr, .Studentmagement th{
    text-align: left;
    font-size: 20px;
}

.studentlist tr, .studentlist th, .studentlist td{
    border: 1px solid black;
    font-size: 20px;
}
.studentlist{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    
}
.studentlist > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.studentlist tr{
    text-align: center;
}
.studentlist th{
    background-color: dodgerblue;
    padding: 5px;
}
.mytable2{
    width: 97%;
}