#tblSongs, th, td {
    font-size: 25px;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}
#tblSongs th {
    background-color: aquamarine;
}
#chooseSort {
    height: 40px;
    font-size: 25px;
    margin-top: 20px;
}